<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<h1>Zdravo <%=ime%> <%=prezime%></h1>
<h2> Ovo je fun fact za danas <%=facts%></h2>
</body>
</html>